@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.logo {
    font-family: 'Raleway', sans-serif !important;
}

.post .post-header {
    border-bottom: 2px #902f2f solid !important;
}

.home-separator {
    margin: 0;
    display: block;
    margin-top: -3.5em;
    margin-bottom: -1em;
    padding-bottom: 10px;
}

.home-separator-inner {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
}

.home-separator-inner p {
    font-family: 'Athelas','STHeiti','Microsoft Yahei',serif;
    font-size: 1.8em;
    position: relative;
    display: inline-block;
    border-bottom: 2px solid #902f2f;
}