{{ define "content" }}
<section class="post bg-white">
    <header class="post-header">
        <h1 class="post-title">About Lucy Vin</h1>
    </header>
    <p class="post-content">Lucy Vin is a non-binary anarchist, linux engineer, and photographer.</p>
    <p class="post-content">She is a systems engineer with an eight-year background in data pipelines and linux automation.
       She lives in New York City where she works on projects including digital research, communication,
       community skill-building, and art.
    </p>
    <p class="post-content">Recruiters can contact her <a href="mailto:jobs@lucyvin.com">here.</a></p>
</section>
<div class="home-separator">
    <div class="home-separator-inner">
        <p><a href="/post">Recent Posts</a></p>
    </div>
</div>
<section id="posts" class="posts">
  {{ $pages := .Pages }}
  {{ if .IsHome }}
    {{ $pages = where .Site.RegularPages "Type" "in" site.Params.mainSections }}
  {{end}}
  {{ $paginator := .Paginate $pages }}
  {{ range $paginator.Pages }}
    {{ .Render "summary" }}
  {{ end }}
</section>

<!-- pagination -->
{{ partial "pagination.html" . }}

{{ end }}
